<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
      <div class="mb-3">
        <label class="form-label" for="title">Title :</label>
        <input
          class="form-control"
          name="title"
          value="<%= campground.title %>"
          id="title"
          type="text"
          placeholder="title"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location :</label>
        <input
          class="form-control"
          name="location"
          value="<%= campground.location %>"
          id="location"
          type="text"
          placeholder="location"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image :</label>
        <input
          class="form-control"
          name="image"
          value="<%= campground.image %>"
          id="image"
          type="text"
          placeholder="link"
        />
      </div>
      <div class="mb-3">
        <label for="price">Price :</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            id="price"
            name="price"
            value="<%= campground.price %>"
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="desc">Description :</label>
        <textarea class="form-control" name="description" id="desc">
<%= campground.description %></textarea
        >
      </div>
      <button class="btn btn-success mb-3">Submit</button>
    </form>
    <a href="/campgrounds">All campgrounds</a>
  </div>
</div>
